body{
  background-color:#E70000 ;
}

h1{
  color:#FF5414 ;
  background-color:#000000 ;
  padding:15px;
}

h3{
  color:#FF5414 ;
  background-color:#000000 ;
}

label{
  color:#000000 ;
}
div{
   color:#000000
}